h1 {
  color: red;

}
/* this is a css comment */
#blue{
  /*color: blue*/
padding-left: 600px

}
#buttonIndent
{
  /*padding-left: 100px*/
}
.yellow-text
{
  color:yellow
}
#test
{
  padding: 0px 150px 0px 150px
}
#test1
{
  padding: 0px 150px 0px 150px

}
.classTest
{
  padding-left: 20px
}
h2
{


}
.bottomButton
{
  padding: 0px 20px 0px 20px
}
